// *{
//     box-sizing: border-box;
// }
// .container{
//     margin: 2% 5%;
// }
// section{
//     margin-top: 5%;
// }
// a {
//     color: #000;
//   }
 

.header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 6.25rem;
  background-color: aqua;
  color: bisque;
  padding: 0 2.5rem;
}
.logo{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border-radius: 50%;
    border: .0625rem solid greenyellow;
    width: 5.625rem;
    height: 5.625rem;
}
.nav{
  display: flex;
  width: 48.75rem;
  padding: 0 2.5rem;
}
.nav ul{
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: space-between;
}
.burger{
  display: flex;
  position: relative;
  z-index: 50;
  align-items: center;
  justify-content: flex-end;
  width: 1.875rem;
  height: 1.125rem;
}
.burger span{
  height: .125rem;
  width: 80%;
  transform: scale(1);
  background-color: aqua;
}
.burger::before,
.burger::after{
  content: '';
  position: absolute;
  height: .125rem;
  width: 100%;
  background-color: aquamarine;
  transition: all 0.3s ease 0s;
}
.burger::before{
  top: 0;
}
.burger::after{
  bottom: 0;
}
.burger.active span{
  transform: scale(0);
}
.burger.active::before{
  top: 50%;
  transform: rotate(-45deg) translate(0, -50%);
}
.burger.active::after{
  bottom: 50%;
  transform: rotate(45deg) translate(0, 50%);
}
@media (max-width: 56.25rem){
  .burger{
    display: flex;
  }
  .nav{
    display: flex;
    flex-direction: column;
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 50;
    overflow-y: auto;
    padding: 3.125rem 2.5rem;
    background-color: red;
    animation: burgerAmimation 0.4s;
  }
  .nav ul{
    flex-direction: column;
    row-gap: 1.875rem;
  }
  @keyframes burgerAmimation {
    from{
      opacity: 0;
    }
    to{
      opacity: 1;
    }
  }
}

